<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rifa Carro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a la Rifa del Carro</h1>
    </header>

    <main>
        <p>Participa para ganar un increíble carro. ¡No te lo pierdas!</p>
    </main>

    <footer>
        <p>&copy; 2025 Rifa Carro. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
